/****************************************************************************/
.Home {
    height: 93vh;
    padding: 7vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HomeLink {
    height: calc(50vh - 10vmin);
}
.HomeLink div {
    background: #ffca41;
    height: 35vh;
    display: flex;
    flex-direction: column-reverse;
}
.HomeLink h1 {
    padding: 0 5vmin;
    background: #ffca41;
}
.HomeLink p {
    font-size: 1.1em;
    padding-top: 1vmin;
    font-weight: 600;
}
.HomeLink a {
    text-decoration: none;
    color: #fff;
}
.HomeLink a:visited {
    color: #fff;
}

/****************************************************************************/
.BeerList {
}

/****************************************************************************/
.NavigateHome {
    height: 10vh;
    display: flex;
    background: #ffca41;
    justify-content: center;
    align-items: center;
}

/****************************************************************************/
.BeerCard {
    margin: 7vmin;
    height: 33vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #33333380;
}
.BeerCard img {
    height: 25vh;
}
.BeerCard div {
    width: 75%;
}
.BeerCard h2 {
    font-size: 2em;
    line-height: 1;
}
.BeerCard h4 {
    color: #ffca41;
}
.BeerCard h5 {
    padding: 3vmin 0;
}
.BeerCard a {
    display: inline-block;
    background: #ffca41;
    color: #fff;
    text-decoration: none;
    padding: 1vmin 5vmin;
    border-radius: 5vmin;
    font-weight: 600;
    margin-top: 1vmin;
}
.BeerCard a:visited {
    color: #fff;
}

/****************************************************************************/
.BeerDetails > button {
    margin: 0 10vmin 10vmin;

    background: #ffca41;
    border-radius: 50%;
    border: none;
    padding: 0.2em;
    display: block;
}

/****************************************************************************/
.BeerDetailsInner {
    padding: 10vmin 12vmin;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}
.BeerDetailsInner > img {
    height: 55vh;
    align-self: center;
}

.BeerDetailsInner > h1 {
    font-size: 3em;
}
.BeerDetailsInner > h3 {
    font-size: 1.2em;
    font-weight: 900;
    color: #ffca41;
    padding-bottom: 2vh;
}
.BeerDetailsInner > .table {
    align-self: stretch;
    color: #33333380;
    display: block;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}
.BeerDetailsInner > p {
    padding-top: 1vh;
    font-size: 0.9em;
    font-weight: 700;
}
